/* generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.background {
    background-color: white;
    border-radius: 20px 20px;
}

/* regole header */
header {
    background-color: #255EE9;
    padding: 20px;
}

.nav-main {
    /* DEBUG */
    /* background-color: orange; */
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    /* flex-grow: 1; */
    align-items: center;
    gap: 45px;
    list-style-type: none;
}

ul a {
    text-decoration: none;
    color: white;
}

#login {
    align-items: center;
    color: black;
    padding: 0 15px;
    height: 37px;
    line-height: 37px;
}

#logo {
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
}

/* sezione download main */
#download {
    background-color: #00018B;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    padding: 121px;
}

.download-section {
    /* DEBUG */
    /* background-color: #EF82ED;
    height: 350px; */
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;


}

 #jumbo {
    font-size: 60px;
    color: white;
    text-align: center;

}

#jumbo-paragrafo {
    margin-top: 42px;
    color:white;
    font-size: 22px;
    text-align: center;
    line-height: 37px;
}

.button {
    display: flex;
    justify-content: center; 
    text-align: center;
    margin-top: 37px;
    font-size: 20px;
    line-height: 57px;
    gap: 40px;
}

.background-button-white {
    background-color: white;
    height: 57px;
    width: 30%;
    border-radius: 26px 26px;
}

.background-button-black {
    color: white;
    background-color: #23272A;
    height: 57px;
    width: 45%;
    border-radius: 26px 26px;
}


/* main principale */


/* place to talk */
.white-bkg {
    background-color: white;
    padding: 20px;
}

.gray-bkg {
    background-color: #D3D3D3;
    padding: 20px;
}

.main-row {
    /* DEBUG */
    /* background-color: #255EE9;
    height: 440px; */
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 125px;
    margin-bottom: 125px;
    margin-left: 300px;
    gap: 79px;
}

.dim-obj-main {
    background-color: #FFC0CA;
    width: 60%;
}

h3 {
    font-size: 50px;
}

p {
    font-size: 20px;
    margin-top: 30px;
    line-height: 29px;
}

#img1 {
    margin-top: -80px;
}



/* fandom */
.main-row-reverse {
    /* DEBUG */
    /* background-color: #255EE9;
    height: 440px; */
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 125px;
    margin-bottom: 125px;
    gap: 65px;
}

#img2 {
    margin-top: -20px;
}


/* tenersi in contatto */
.dim3 {
    display: flex;
    justify-content: center;
    height: 750px;
    width: 100%;
    border: 1px solid black;
    background-color: #218B21;
}

/* sezione 1 footer */
.black-bkg {
    background-color: #23272A;
    padding: 20px;
}

.footer-row {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.dim4 {
    display: flex;
    justify-content: center;
    background-color: #20B3AA;
    height: 535px;
    width: 20%;
    border: 1px solid white;
}

.dim-obj-footer {
    background-color: #F08180;
    width: 30%;

}

/* sezione 2 footer */
hr {
    color: white;
}

.black {
    background-color: #23272A;
}

.end-footer {
    width: 60%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: #7FFFD4;

}

.dim5 {
    width: 7%;
    display: flex;
    height: 25px;
    background-color: pink;
}
